In [1]:
import pandas as pd
import numpy as np

In [5]:
a = {'nama':['Messi','Alvarez','Haaland','Sanantha'],
    'umur':[35,23,22,22],
    'negara':['Argentina','Argentina','Norwegia','Indonesia']}
a.keys()

dict_keys(['nama', 'umur', 'negara'])

In [12]:
df=pd.DataFrame(a)
df

       nama  umur     negara
0     Messi    35  Argentina
1   Alvarez    23  Argentina
2   Haaland    22   Norwegia
3  Sanantha    22  Indonesia

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nama    4 non-null      object
 1   umur    4 non-null      int64
 2   negara  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [22]:
class Robot:
    heigh = ""
    name = ""
    
b = Robot()
b.heigh = 56
b.name = "Bumble bee"

c = Robot()
c.heigh = 89
c.name = "Reggae"

print (f"robot itu bernama {b.name} dengan tinggi {b.heigh}")
print (f"robot itu bernama {c.name} dengan tinggi {c.heigh}")

robot itu bernama Bumble bee dengan tinggi 56
robot itu bernama Reggae dengan tinggi 89